body{
  background-color: #ffffff;
  border: solid 2px #dddddd;
  color: #777777;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../images/crossline-dots.png);
  margin: 0px;
  
}


.containerheader{
  width: 960px;
  background-color: #fff;
  overflow: hidden;
  margin: auto;
}
.containercontent{
  width: 960px;
  background-color: #fff;
  overflow: hidden;
  margin: auto;
  padding-left: 10px;
  
}

.img1container{
  position: relative;
}
#img2container{
  position: relative;
}
  


.i1{
  background-color:aqua;
  width: 300px;
  text-align: center;
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 160px;
}

#i2{
  background-color:aqua;
  width: 300px;
  text-align: center;
  position: absolute;
  z-index: 00;
  left: 40px;
  top: 160px;
}

header{
  background-color: #ffffff;
  margin-left:none;
  margin-right: none;
  margin-bottom: 25px;
}

header li{
  float: right;
  display: inline;
  padding: 12px 0px 5px 40px;
} 

header li a{
  text-decoration: none;
}

#nametag{
  float: left;
  padding-left: 0;
}

#namebox{
  background-color: aqua;
  height: 60px;
  width: 200px;
  margin:0;
  color:white;
  padding-top: 15px;
  border-left: solid aqua 10px;
}
h2{
  color: aquamarine;
  clear: both;
  padding-bottom: 15px;
  border-bottom:solid 3px red;
  /* need to change the width of the bottom border */
}

img {
  height: 200px;
  width: 300px;
  float: left;
  padding: 40px;
}

#profile{
  height: 200px;
  width: 300px;
  float: left;
  padding: none !important;
}
/* change the way the padding around the index  image without affecting other images in portfolio */

footer{
  text-align: center;
  background-color:#666666;
  height: 30px;
  border-top:solid 5px blueviolet;
  clear: both;
  width: 100%
}

input{
  width: 900px;
}

textarea{
  width: 900px;
}

#submit{
  height: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 85px;
  font-size: 12px;
  background-color: #57d6c7;
  font-weight: bold;
  border: none;
  color: white;
}






@media screen and (max-width: 640px){
  #namebox{
    background-color: pink;
    width: 100%;
    text-align: center;
  }
  .containerheader{
    background-color: aqua;
    width:
  }
  header li{
    width: 100%;
    text-align: center;
  }
  #section{
    width:640px;
    height: inherit;
    padding: 0px;
  }
  header li{
    text-align: center;
    display: inline;
    padding: 20px;
  } 
}

@media screen and (max-width: 768px){

}



@media screen and (max-width: 960px){
  section{
    width:100%;
  }
}
/* @media(max-width: 640px){}; */