*{
  background-color: #ffffff;
  color: #777777;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

html, body {
  margin: 0 auto;
  position: relative;
  background-image: url(../images/crossline-dots.png)
}

html {
  height: 100%;
}

body header {
  border-bottom: 1px solid #cccccc;
}

body header h1 {
  color: greenyellow;
  background-color: red;
  width: 220px;
  padding: 20px;
  margin: 0;
}

header div {
  display: flex;
}
